# IDE
.vscode
.idea

# Node ddependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# macOS
.DS_Store
week-2/Assignment2_2.pdf
week-2/Sara_George_Assignment2-2.pdf
week-3/in-n-out-books/in-n-out-books.zip
in-n-out-books.zip
in-n-out-books-week-5.zip
in-n-out-books-week4.zip
